%h1 Login
= simple_form_for :login, :url => submit_login_path, :method => :post do |f|
  = f.input :user_name, :value => nil, :as => :string
  = f.input :password, :value => nil, :as => :password
  = f.submit 'Login'
